.login-page-main {
  display: flex;
  align-items: center
}

.left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #9D50BB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.welcome {
  margin-bottom: 20px !important;
}

.font-purple {
  color: #575aa7 !important;
}

.font-green {
  color: #43ddc1 !important;
}

.button-green {
  background-color: #43ddc1 !important;
  color: white !important;
}

.main-header {
  font-size: 40px !important;
}

.login-header {
  margin-bottom: 50px;
}

.font-white {
  color: #FFF !important;
}

.link {
  color: white !important;
}

.landing {
  background-color: #c475f6;
  padding-bottom: 30px;
}

.purple {
  /* background-color: #c475f6 !important; */
}

.register {
  margin: 0px;
  padding: 0px;
}

.navbar-home {
  background-color: #9c73f6 !important;
}

.navbar-portfolio {
  background-color: #7681f6 !important;
}

.navbar-buy {
  background-color: #3996b2 !important;
}

.navbar-sell {
  background-color: #2a69fc !important;
}

.navbar-history {
  background-color: #173a8b !important;

}

.ui.menu {
  margin: 0;
}

.portfolio-button-group {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important; 
  margin-top: 30px;
}

.port-button {
  width: 200px;
  margin-top: 15px !important;
}

.bd-zero {
  border: 0 !important;
}

.error-messages {
  border: 1px solid #575aa7;
  border-radius: 3px;
  padding: 10px;
}

.register-errors {
  width: 190px !important;
}

.portfolio-display {
  display: flex !important;
  height: 70%;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio-list-left {
  list-style: none;
}

.sidebar {
  height: 80%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 160px;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.useFontAwesomeFamily::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900;
}
.useFontAwesomeFamily:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900;
}
.useFontAwesomeFamily::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900;
}
.useFontAwesomeFamily:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900;
}
.useFontAwesomeFamily::-ms-input-placeholder { /* Microsoft Edge */
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900;
}
.useFontAwesomeFamily::placeholder { /* Most modern browsers */
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900;
}